h1{
    color:rgba(189, 151, 173, 0.993);
    padding-top: 1rem;
    font-size: 35px;
}
div{
    text-align: center;
}

body {
background: linear-gradient(90deg, rgba(139, 148, 127, 1) 0%, rgba(132, 151, 203, 0.38699229691876746) 58%, rgba(190, 200, 191, 1) 71%);
    
}

/*form*/
form {
      background: #ff040486;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(187, 94, 94, 0.966);
      /*max-width: 400px;*/
      width: 50%
  }


  label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 25px;
  }
  input[type="date"]
   {
      width: 70%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
  }
div select{
width: 50%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
    }
button{
    
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
}
button:hover {
    background-color: #fa95d8;
}