h1{
    color:rgba(247, 3, 3, 0.986);
    padding-top: 1rem;
    padding-left: 2rem;;
    font-size: 35px;
}


div p{
color: rgb(255, 253, 254);
font-size: 35px;
text-align: left;
width:63%;

}
div{
    text-align: center;
}

body {
    background:
        linear-gradient(90deg, rgba(139, 148, 127, 0.7) 0%, rgba(132, 151, 203, 0.5) 50%, rgba(122, 134, 123, 0.7) 100%),
        url("./images/background.jpg");
}