h1{
    color:rgba(247, 3, 3, 0.986);
    padding-top: 1rem;
    padding-left: 2rem;;
}

body {
    background:
        linear-gradient(90deg, rgba(120, 192, 25, 0.9) 0%, rgba(132, 151, 203, 0.4) 17%, rgba(122, 134, 123, 1) 98%, rgba(104, 118, 119, 1) 100%),
        url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* Ensures the image covers the entire area */
    background-blend-mode: overlay;
}